{# Container Tabs Component #}
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="container-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="logs-tab" data-bs-toggle="tab" href="#logs" role="tab" aria-controls="logs" aria-selected="true">Logs</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="terminal-tab" data-bs-toggle="tab" href="#terminal" role="tab" aria-controls="terminal" aria-selected="false">Terminal</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="files-tab" data-bs-toggle="tab" href="#files" role="tab" aria-controls="files" aria-selected="false">Files</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="stats-tab" data-bs-toggle="tab" href="#stats" role="tab" aria-controls="stats" aria-selected="false">Stats</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="container-tabs-content">
            <!-- Logs Tab -->
            {% include 'docker/components/container-logs-tab.html' %}
            
            <!-- Terminal Tab -->
            {% include 'docker/components/container-terminal-tab.html' %}
            
            <!-- Files Tab -->
            {% include 'docker/components/container-files-tab.html' %}
            
            <!-- Stats Tab -->
            {% include 'docker/components/container-stats-tab.html' %}
        </div>
    </div>
</div>